section:nth-of-type(1) {
  margin-top: 48px;
  padding: 32px 128px;

  display: flex;
  justify-content: space-between;
  gap: 128px;
}
#left {
  width: 43%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  > h1 {
    display: flex;
    gap: 8px;

    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    color: #360568;

    > strong {
      font-weight: 400;
      color: white;
      background-color: #360568;
    }
  }
  > p {
    font-size: 18px;
    line-height: 26px;
  }
}
#wrapper {
  width: 42vw;
  height: 48vw;

  position: relative;

  > span {
    padding: 8px;

    position: absolute;

    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

    background-color: #360568;

    border-radius: 4px;
  }
}
.circle {
  aspect-ratio: 1/1;

  border: 3px solid white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all ease-in-out 350ms;

  &:hover {
    transform: translate(-50%, -50%) scale(105%);
  }
}
.sp {
  padding: 4px;

  position: absolute;
  left: 50%;

  transform: translateX(-50%);

  z-index: 15;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;

  background-color: black;
  border-radius: 4px;
}
#sp1 {
  top: 10px;
}
#sp2 {
  top: 58px;
}
#sp3 {
  top: 104px;
}
#sp4 {
  top: 150px;
}
#sp5 {
  top: 194px;
}
#sp6 {
  top: 242px;
}
#sp7 {
  top: 286px;
}
#pid {
  height: 42vw;

  overflow: hidden;

  background-color: #c1b9ea;
  box-shadow: 0 0 32px 1px #00000025;
}
#star {
  width: 100%;
  height: 100%;

  pointer-events: none;

  z-index: 1;
}
#star > svg {
  width: 100%;
  height: 100%;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(110%);
}
#pic {
  height: 36vw;
  background-color: #a193d1;
}
#ea {
  height: 30vw;
  background-color: #8863b7;
}
#sa {
  height: 24vw;
  background-color: #722d9f;
}
#al {
  height: 18vw;
  background-color: #5e1a8a;
}
#mpa {
  height: 12vw;
  background-color: #4a0f75;
}
#aca {
  height: 6vw;
  background-color: #360568;
}
#multimodal {
  top: 8%;
  left: -5%;
}
#texto {
  top: 8%;
  right: -5%;
}
#video {
  bottom: 25%;
  left: -10%;
}
#imagem {
  bottom: 25%;
  right: -12%;
}
#audio {
  bottom: -2%;
  left: 50%;

  transform: translateX(-50%);
}
.ai {
  width: 16px;
  height: 16px;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;

  border-radius: 50%;
  border: 3px solid white;
  background-color: white;

  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all ease-in-out 350ms;

  > svg {
    pointer-events: none;
  }
  &:hover {
    transform: translate(-50%, -50%) scale(300%);
  }
}
#note {
  top: 20%;
  right: 13%;
}
#pipp {
  top: 8%;
  right: 30%;
}
#mid {
  right: 6%;
  bottom: 30%;
}
#suno {
  left: 50%;
  top: 95%;
}
#chat {
  top: 22%;
  left: 15%;
}
#stable {
  top: 8%;
  left: 34%;
}
#stab {
  left: 8%;
  bottom: 31%;
}
#gemi {
  left: 25%;
  top: 15%;
}
#elev {
  bottom: 5%;
  left: 50%;
}
#kli {
  bottom: 25%;
  left: 15%;
}
#modal {
  width: 640px;
  padding: 32px 64px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 64px 1px #00000065;
}
#content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  > img {
    width: 128px;
    height: 128px;
    padding: 12px;

    overflow: hidden;
  }
  > h1 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
  }
  > p {
    text-align: justify;
    font-family: 18px;
    line-height: 22px;
  }
  > a {
    width: 100%;
    height: fit-content;
    padding-block: 14px;

    background-color: #360568;
    border-radius: 6px;

    font-size: 18px;
    line-height: 18px;
    color: white;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    transition: all ease-in-out 350ms;

    &:hover {
      opacity: 0.8;
    }
  }
}
.invisible {
  display: none !important;
}
#close {
  width: 36px;
  height: 36px;

  border: none;
  background-color: #e0e0e0;
  border-radius: 50%;
  opacity: 0.35;

  font-size: 20px;
  line-height: 20px;

  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;
}
#list {
  padding: 16px;
  background-color: white;

  border-radius: 8px;

  box-shadow: 0 0 32px 1px #00000015;

  display: flex;
  flex-direction: column;
  gap: 12px;

  > h2 {
    width: 100%;
    padding: 6px 12px;

    border-radius: 4px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 500;

    background-color: #360568;
    color: white;
  }
  > ul {
    padding-inline: 32px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    > li {
      font-size: 18px;
      line-height: 18px;
    }
  }
}
