section:nth-of-type(1) {
  margin-top: 48px;
  padding: 32px 128px;

  display: flex;
  justify-content: space-between;
  gap: 128px;
}
#list {
  padding: 16px;
  background-color: white;

  border-radius: 8px;

  box-shadow: 0 0 32px 1px #00000015;

  display: flex;
  flex-direction: column;
  gap: 12px;

  > h2 {
    width: 100%;
    padding: 6px 12px;

    border-radius: 4px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 500;

    background-color: #360568;
    color: white;
  }
  > ul {
    padding-inline: 24px;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 8px;

    > li {
      font-size: 18px;
      line-height: 18px;
    }
  }
}
#left {
  width: 43%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  > h1 {
    display: flex;
    gap: 8px;

    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    color: #360568;

    > strong {
      font-weight: 400;
      color: white;
      background-color: #360568;
    }
  }
  > p {
    font-size: 18px;
    line-height: 26px;
  }
}
#wrapper {
  width: 42vw;
  height: 48vw;

  position: relative;

  > span {
    padding: 8px;

    position: absolute;

    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;

    background-color: #360568;

    border-radius: 4px;
  }
}
.circle {
  aspect-ratio: 1/1;

  border: 3px solid white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all ease-in-out 350ms;

  &:hover {
    transform: translate(-50%, -50%) scale(105%);
  }
}
.sp {
  padding: 4px;

  position: absolute;
  top: 12px;
  left: calc(50% + 32px);

  transform: translateX(-50%);

  z-index: 50;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;

  background-color: black;
  border-radius: 4px;
}
#pid {
  height: 42vw;

  overflow: hidden;

  background-color: #c1b9ea;
  box-shadow: 0 0 32px 1px #00000025;
}
#star {
  width: 44vw;
  aspect-ratio: 1/1;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(110%);

  pointer-events: none;
}
#star > svg {
  width: 100%;
  height: 100%;
}
#pic {
  height: 36vw;
  background-color: #a193d1;
}
#ea {
  height: 30vw;
  background-color: #8863b7;
}
#sa {
  height: 24vw;
  background-color: #722d9f;
}
#al {
  height: 18vw;
  background-color: #5e1a8a;
}
#mpa {
  height: 12vw;
  background-color: #4a0f75;
}
#aca {
  height: 7vw;
  background-color: #360568;
}
#multimodal {
  top: 8%;
  left: -5%;
}
#texto {
  top: 8%;
  right: -5%;
}
#video {
  bottom: 25%;
  left: -10%;
}
#imagem {
  bottom: 25%;
  right: -12%;
}
#audio {
  bottom: -2%;
  left: 50%;

  transform: translateX(-50%);
}
.ai {
  width: 16px;
  height: 16px;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;

  border-radius: 50%;
  border: 3px solid white;
  background-color: white;

  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all ease-in-out 350ms;

  > img {
    width: 100%;
    height: 100%;
  }

  > svg {
    pointer-events: none;
  }
  &:hover {
    transform: translate(-50%, -50%) scale(300%);
    z-index: 1000 !important;
  }
}
#deepseek {
  top: 14%;
  right: 18%;
}
#ideogram {
  bottom: 28%;
  right: 5.5%;
}
#stability {
  top: 15%;
  left: 19%;
}
#notebook {
  left: 28%;
  top: 10%;
}
#pippit {
  left: 6%;
  bottom: 33%;
}
#gemini {
  left: 15%;
  top: 20%;
}
#chatgpt {
  left: 22%;
  top: 15%;
}
#suno {
  left: 50%;
  bottom: 1.5%;
}
#perplexity {
  left: 29%;
  top: 12%;
}
#grok {
  left: 17%;
  top: 22%;
}
#perplexity2 {
  left: 30.5%;
  top: 13.5%;
}
#gemini2 {
  left: 18.5%;
  top: 23.5%;
}
#notebook2 {
  left: 38%;
  top: 17%;
}
#kling {
  left: 24%;
  top: 28%;
}
#claude {
  top: 15%;
  right: 19%;
}
#leonardo {
  bottom: 29%;
  right: 5%;
}
#modal {
  width: 640px;
  padding: 32px 64px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 64px 1px #00000065;
}
#content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  > img {
    width: 128px;
    height: 128px;
    padding: 12px;

    overflow: hidden;
  }
  > h1 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 600;
  }
  > p {
    text-align: justify;
    font-family: 18px;
    line-height: 22px;
  }
  > a {
    width: 100%;
    height: fit-content;
    padding-block: 14px;

    background-color: #360568;
    border-radius: 6px;

    font-size: 18px;
    line-height: 18px;
    color: white;
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    transition: all ease-in-out 350ms;

    &:hover {
      opacity: 0.8;
    }
  }
}
.invisible {
  display: none !important;
}
#close {
  width: 36px;
  height: 36px;

  border: none;
  background-color: #e0e0e0;
  border-radius: 50%;
  opacity: 0.35;

  font-size: 20px;
  line-height: 20px;

  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;
}
