section {
  margin-top: 48px;
  padding: 32px 128px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;

  > h1 {
    display: flex;
    gap: 8px;

    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    color: #360568;

    > strong {
      font-weight: 400;
      color: white;
      background-color: #360568;
    }
  }
  > p {
    font-size: 18px;
    line-height: 26px;
  }
  > h2 {
    width: 100%;
    padding: 6px 12px;

    border-radius: 4px;

    font-size: 24px;
    line-height: 24px;
    font-weight: 500;

    background-color: #360568;
    color: white;
  }
}
