/* Centraliza o conteúdo na tela */
section:nth-of-type(1) {
  margin-top: 48px;
  padding: 32px 128px;

  display: flex;
  justify-content: space-between;
  gap: 128px;
}
#left {
  width: 43%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  > h1 {
    display: flex;
    gap: 8px;

    font-size: 72px;
    line-height: 80px;
    font-weight: 400;
    color: #360568;

    > strong {
      font-weight: 400;
      color: white;
      background-color: #360568;
    }
  }
  > p {
    font-size: 18px;
    line-height: 26px;
  }
}
